.ui-input {
  width: 100%;
  background-color: transparent;
  padding: 18px 8px 2px 8px;
  border-bottom: 1px solid var(--footer-subscribe-input-border, #8D959C);
  color: var(--footer-subscribe-input-text, #8D959C);

  font-size: var(--text-base-font-size, 18px);
  line-height: var(--text-base-line-height, 26px);

  &:focus {
    border-color: var(--blue);
  }

  &:not(:placeholder-shown) {
    border-color: var(--white, #FFFFFF);
    color: var(--white, #FFFFFF);
  }
}