.ui-input {
  padding: 5px;
  background-color: transparent;
  color: var(--black, #8D959C);
  font-size: var(--text-base-font-size, 18px);
  line-height: var(--text-base-line-height, 26px);

  &:focus {
    border-color: var(--blue);
  }

  &:not(:placeholder-shown) {
    color: red;
  }
}