.app-goods-item {
  border: 1px solid var(--black);

  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 120px auto;
  align-items: flex-start;

  padding: 5px;

  &__name {

  }

  &__price,&__add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5px;
  }

  &__add-cart {
  }

  &__price {
    background-color: transparent;

    &--incr {
      background-color: pink;
    }

    &--decr {
      background-color: lightgreen;
    }
  }
}