.app-goods-item {
  display: grid;
  grid-template-columns: 1fr 120px auto;
  grid-gap: 5px;
  border: 1px solid var(--black);
  border-radius: 5px;
  align-items: flex-start;
  padding: 5px;

  &__price,&__add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5px;
  }

  &__add-cart {
  }

  &__price {
    font-weight: 700;

    &--incr {
      color: red;
    }

    &--decr {
      color: green;
    }
  }
}