$desktop-width: 1200px;
$tablet-width: 768px;

:root {
  --black: #1B1B1B;
  --white: #FFFFFF;
  --blue: #3657D3;

  --text: #1B1B1B;
  --text-special: #8D959C;
  --footer-text-color: #8D959C;

  --text-base-font-size: 14px;
  --text-base-line-height: 18px;
}

html {
  overflow-y: scroll;
}

.app-body {
  margin: 0;
  padding: 0;

  transition: color 0.5s, background-color 0.5s;
  font-family: Montserrat, sans-serif;

  font-size: var(--text-base-font-size, 18px);
  line-height: var(--text-base-line-height, 26px);
  font-style: normal;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--black);
  background-color: var(--white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-width: 320px;

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: lightgray;
  opacity: 0.5;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}