.app-page-home {
  padding: 20px;
}

.app-catalog {
  &__exchange-wrapper {
    margin-bottom: 20px;
  }

  &__manual-value {
    color: red;
    padding: 5px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__section {
    margin-top: 25px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__categories {
    column-count: 1;
    column-gap: 15px;

    @media (min-width: $tablet-width) {
      column-count: 2;
    }
  }

  &__category {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.app-catalog-category {
  &__title {
    font-size: 20px;
    line-height: 24px;
    padding: 5px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: lightblue;
  }

  &__list {
    display: grid;
    gap: 5px;
  }
}