.app-page-home {
  padding: 20px;
}

.app-catalog {
  &__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__section {
    margin-top: 25px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.app-catalog-category {
  &__title {
    font-size: 20px;
    line-height: 24px;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: lightblue;

  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}